USE [master]
GO
/****** Object:  Database [ECO]    Script Date: 22/11/2020 13:56:02 ******/
CREATE DATABASE [ECO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECO', FILENAME = N'/var/opt/mssql/data/ECO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ECO_log', FILENAME = N'/var/opt/mssql/data/ECO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECO]
GO
/****** Object:  Table [dbo].[Candidate]    Script Date: 22/11/2020 13:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidate](
	[CandidateId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Aka] [nchar](100) NULL,
	[EthnicGroup] [nvarchar](100) NULL,
	[Occupation] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[DoB] [datetime] NOT NULL,
	[PartyId] [bigint] NULL,
	[ElectionId] [bigint] NOT NULL,
	[ConstituencyId] [bigint] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Candidate] PRIMARY KEY CLUSTERED 
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Constituency]    Script Date: 22/11/2020 13:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Constituency](
	[ConstituencyId] [bigint] IDENTITY(1,1) NOT NULL,
	[ConstituencyName] [nvarchar](100) NOT NULL,
	[ElectoralPopulation] [bigint] NOT NULL,
	[EthnicMajority] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Constituency] PRIMARY KEY CLUSTERED 
(
	[ConstituencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Election]    Script Date: 22/11/2020 13:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Election](
	[ElectionId] [bigint] IDENTITY(1,1) NOT NULL,
	[ElectionName] [nvarchar](100) NOT NULL,
	[StartDate] [nvarchar](50) NOT NULL,
	[EndDate] [nvarchar](50) NOT NULL,
	[StartTime] [nvarchar](50) NOT NULL,
	[EndTime] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Election] PRIMARY KEY CLUSTERED 
(
	[ElectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Party]    Script Date: 22/11/2020 13:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Party](
	[PartyId] [bigint] IDENTITY(1,1) NOT NULL,
	[PartyName] [nvarchar](100) NOT NULL,
	[Abbr] [nvarchar](50) NULL,
	[PartyLogo] [nvarchar](100) NOT NULL,
	[PartyLeader] [nvarchar](100) NOT NULL,
	[ActualAlliance] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Party] PRIMARY KEY CLUSTERED 
(
	[PartyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voter]    Script Date: 22/11/2020 13:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voter](
	[VoterId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Telephone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[DateBirth] [datetime] NOT NULL,
	[NIC] [nvarchar](100) NOT NULL,
	[ConstituencyId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Voter] PRIMARY KEY CLUSTERED 
(
	[VoterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Candidate] ON 

INSERT [dbo].[Candidate] ([CandidateId], [FirstName], [LastName], [Aka], [EthnicGroup], [Occupation], [Address], [DoB], [PartyId], [ElectionId], [ConstituencyId], [CreatedDate], [ModifiedDate]) VALUES (1, N'Shay', N'Guthrie', N'Tatyana Horn                                                                                        ', N'Creole', N'Pellentesque Associates', N'129-574 Vehicula Street', CAST(N'1985-02-17T12:23:16.000' AS DateTime), 10, 2, 3, CAST(N'2020-03-29T10:31:46.000' AS DateTime), CAST(N'2020-12-04T10:15:00.000' AS DateTime))
INSERT [dbo].[Candidate] ([CandidateId], [FirstName], [LastName], [Aka], [EthnicGroup], [Occupation], [Address], [DoB], [PartyId], [ElectionId], [ConstituencyId], [CreatedDate], [ModifiedDate]) VALUES (2, N'Griffith', N'Gates', N'Ciara Reeves                                                                                        ', N'Muslim', N'Pellentesque Institute', N'140-4877 Et, Street', CAST(N'1966-03-04T08:46:49.000' AS DateTime), 2, 2, 8, CAST(N'2020-10-01T14:00:17.000' AS DateTime), CAST(N'2021-03-23T23:47:03.000' AS DateTime))
INSERT [dbo].[Candidate] ([CandidateId], [FirstName], [LastName], [Aka], [EthnicGroup], [Occupation], [Address], [DoB], [PartyId], [ElectionId], [ConstituencyId], [CreatedDate], [ModifiedDate]) VALUES (3, N'Jermaine', N'Gill', N'Wilma Cobb                                                                                          ', N'Hindu', N'Vestibulum Mauris Magna Inc.', N'P.O. Box 570, 5725 Interdum Rd.', CAST(N'1943-08-24T22:58:33.000' AS DateTime), 4, 1, 7, CAST(N'2021-11-03T18:52:51.000' AS DateTime), CAST(N'2020-02-05T17:32:22.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Candidate] OFF
GO
SET IDENTITY_INSERT [dbo].[Constituency] ON 

INSERT [dbo].[Constituency] ([ConstituencyId], [ConstituencyName], [ElectoralPopulation], [EthnicMajority], [CreatedDate], [ModifiedDate]) VALUES (1, N'Grand River North West and Port Louis West', 40572, N'Creole/Hindu', CAST(N'2020-11-22T00:00:00.000' AS DateTime), CAST(N'2020-11-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Constituency] ([ConstituencyId], [ConstituencyName], [ElectoralPopulation], [EthnicMajority], [CreatedDate], [ModifiedDate]) VALUES (2, N'Port Louis South and Port Louis Central', 24642, N'Muslim/Sino Mauritian/Creole', CAST(N'2020-11-22T00:00:00.000' AS DateTime), CAST(N'2020-11-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Constituency] ([ConstituencyId], [ConstituencyName], [ElectoralPopulation], [EthnicMajority], [CreatedDate], [ModifiedDate]) VALUES (3, N'Port Louis Maritime and Port Louis East	', 22488, N'Muslim', CAST(N'2020-11-22T00:00:00.000' AS DateTime), CAST(N'2020-11-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Constituency] OFF
GO
SET IDENTITY_INSERT [dbo].[Election] ON 

INSERT [dbo].[Election] ([ElectionId], [ElectionName], [StartDate], [EndDate], [StartTime], [EndTime], [CreatedDate], [ModifiedDate]) VALUES (1, N'General Elections 2020', N'17/10/2020', N'17/10/2020', N'07:00', N'17:00', CAST(N'2020-11-22T00:00:00.000' AS DateTime), CAST(N'2020-11-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Election] OFF
GO
SET IDENTITY_INSERT [dbo].[Party] ON 

INSERT [dbo].[Party] ([PartyId], [PartyName], [Abbr], [PartyLogo], [PartyLeader], [ActualAlliance], [CreatedDate], [ModifiedDate]) VALUES (1, N'Mouvement Socialiste Militant', N'MSM', N'test', N'Pravind Jugnauth', N'Alliance Morisien', CAST(N'2020-11-22T00:00:00.000' AS DateTime), CAST(N'2020-11-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Party] ([PartyId], [PartyName], [Abbr], [PartyLogo], [PartyLeader], [ActualAlliance], [CreatedDate], [ModifiedDate]) VALUES (2, N'Labour Party', N'PTR', N'test', N'Navin Ramgoolam', N'Alliance Nationale', CAST(N'2020-11-22T00:00:00.000' AS DateTime), CAST(N'2020-11-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Party] ([PartyId], [PartyName], [Abbr], [PartyLogo], [PartyLeader], [ActualAlliance], [CreatedDate], [ModifiedDate]) VALUES (3, N'Mouvement Militant Mauricien', N'MMM', N'test', N'Paul Bérenger', N'None', CAST(N'2020-11-22T00:00:00.000' AS DateTime), CAST(N'2020-11-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Party] OFF
GO
SET IDENTITY_INSERT [dbo].[Voter] ON 

INSERT [dbo].[Voter] ([VoterId], [FirstName], [LastName], [Address], [Telephone], [Mobile], [DateBirth], [NIC], [ConstituencyId], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (11, N'Ballard', N'Ainsley', N'P.O. Box 322, 510 Metus Street', N'176-6039', N'', CAST(N'1969-12-31T16:00:00.000' AS DateTime), N'16500728 0893', 11, 0, CAST(N'2021-01-10T20:47:10.000' AS DateTime), CAST(N'2020-03-16T07:37:55.000' AS DateTime))
INSERT [dbo].[Voter] ([VoterId], [FirstName], [LastName], [Address], [Telephone], [Mobile], [DateBirth], [NIC], [ConstituencyId], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (12, N'Whitehead', N'Anika', N'5528 A St.', N'660-6506', N'', CAST(N'1969-12-31T16:00:00.000' AS DateTime), N'16840711 1916', 11, 0, CAST(N'2021-04-28T07:39:55.000' AS DateTime), CAST(N'2021-09-06T20:37:21.000' AS DateTime))
INSERT [dbo].[Voter] ([VoterId], [FirstName], [LastName], [Address], [Telephone], [Mobile], [DateBirth], [NIC], [ConstituencyId], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (13, N'Saunders', N'Ronan', N'P.O. Box 311, 3886 Tempus Ave', N'302-8597', N'', CAST(N'1969-12-31T16:00:00.000' AS DateTime), N'16731218 7656', 21, 0, CAST(N'2021-01-02T10:00:42.000' AS DateTime), CAST(N'2021-04-16T10:18:41.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Voter] OFF
GO
USE [master]
GO
